<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
html {
    -webkit-text-size-adjust: 100%; /* Prevent font scaling in landscape while allowing user zoom */
}

body {
    margin: 0;
    font-family: Verdana, sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

#background {
    left: 0;
    top: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    background-image: url("/static/background.jpg");
    background-size: cover;
    z-index: -100;
    opacity: 0.3;
}

.searchForm {
    margin-top: 7%;
    width: 100%;
    min-width: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.searchForm-title {
    font-weight: normal;
    font-family: Verdana, sans-serif;
    margin-bottom: 17vh;
}
.searchForm-button {
    box-sizing: border-box;
    margin-top: 15px;
    width: 288px;
    padding: 0.8rem;
    border: none;
    border-radius: 8px;
    font-size: medium;
    color: white;
    background-color: #333333;
    cursor: pointer;
}
@media (min-width: 900px) {
    .searchForm-button {
        width: 572px;
        align-items: stretch;
    }
}
.aboutLinks {
    margin-top: 40px;
    flex-grow: 1;
    width: 100%;
    text-align: center;
}
.aboutLinks a {
    color: black;
}
</style>

<link rel="stylesheet" href="/static/search_bar.css">
<link rel="stylesheet" href="/static/warning_footer.css">

<title>PeerTube Index</title>
</head>

<body>
<div id="background"></div>
<form class="searchForm" action="search">
    <h1 class="searchForm-title">PeerTube Index</h1>
    <%= PeertubeIndex.Templates.search_bar("") %>
</form>
<div class="aboutLinks">
<a href="/about#this-site">about this site</a> - <a href="/about#photo">photo credits</a>
</div>
<%= PeertubeIndex.Templates.warning_footer() %>
</body>
</html>
