<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>

html {
    -webkit-text-size-adjust: 100%; /* Prevent font scaling in landscape while allowing user zoom */
}

body {
    font-family: Verdana, sans-serif;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.searchForm {
    display: flex;
    justify-content: center;
    width: 100%;
    min-width: 320px;
    position: fixed;
    top: 20px;
    z-index: 100;
}

.homeButton {
    position: fixed;
    display: flex;
    justify-content: center;
    width: 100%;
    z-index: 100;
    visibility: hidden;
}
.homeButton span {
    position: relative;
}
.homeButton a {
    color: white;
    text-decoration: none;
    background-color: #333333;
    padding: 0.8rem 0.4rem;
    border-radius: 8px;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.7);
    position: absolute;
}
@media (min-width: 900px) {
    .homeButton--top {
        visibility: visible;
    }
}
.homeButton--top {
    top: 20px;
}
.homeButton--top span {
    width: 572px;
}
.homeButton--top a {
    right: 592px; # width of search bar plus 20px
}
@media (max-width: 899px) {
    .homeButton--bottom {
        visibility: visible;
    }
}
.homeButton--bottom {
    bottom: 0px;
}
.homeButton--bottom span {
    width: 288px;
}
.homeButton--bottom a {
    bottom: 70px;
}

.main {
    width: 267px;
    /* The bottom margin leaves room for the home button */
    margin: 80px auto 90px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
@media (min-width: 900px) {
    .main {
        margin-bottom: 70px;
        width: 768px;
        align-items: stretch;
    }
}
.resultsMessage {
    margin-bottom: 10px;
    font-size: small;
    color: gray;
}
.resultsMessage--noresult {
    text-align: center;
}

.video {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}

.video:last-of-type {
    margin-bottom: auto;
}

@media (min-width: 900px) {
    .video {
        flex-direction: row;
    }
}
.video-thumbnail {
    position: relative;
    z-index: 0;
}
@media (min-width: 900px) {
    .video-thumbnail {
        margin-right: 20px;
    }
}
.video-thumbnail img {
    width: 268px;
    object-fit: contain;
    border-radius: 10px;
    border: none;
    /* https://stackoverflow.com/a/11126701 */
    display: block;
}
.video-duration {
    position: absolute;
    right: 5px;
    bottom: 5px;
    border: none;
    border-radius: 5px;
    background-color: rgba(0,0,0,.8);
    color: white;
    padding: 2px 5px;
    font-size: 12px;
}
.video-details {
    margin-left: 2px;
    margin-right: 2px;
}
@media (min-width: 900px) {
    .video {
        flex-direction: row;
    }
}
.video-title {
    color: black;
    text-decoration: none;
}
.video-title p {
    margin-top: 5px;
    margin-bottom: 5px;
}
.video-date,
.video-views,
.video-account {
    color: gray;
    font-size: smaller;
    margin: 0;
    text-decoration: none;
}
</style>
<link rel="stylesheet" href="/static/search_bar.css">
<link rel="stylesheet" href="/static/warning_footer.css">
</head>

<body>
    <form class="searchForm">
        <%= PeertubeIndex.Templates.search_bar(true, query) %>
    </form>
    <div class="homeButton homeButton--top"><span><a href="/">home</a></span></div>
    <div class="main">

        <div class="resultsMessage<%= if length(videos) == 0, do: " resultsMessage--noresult"%>">
            <p>
            <%= case length(videos) do
                0 ->
                    "No result found for your query, sorry"
                1 ->
                    "1 result found"
                n when n >= 100 ->
                    "100 or more results found, showing only the first 100"
                n ->
                    "#{n} results found"
            end%>
            </p>
        </div>
        <%= for video <- videos do %>
        <article class="video">
            <%=
                Phoenix.HTML.Tag.content_tag(
                    :a,
                    [
                        Phoenix.HTML.Tag.content_tag(
                            :div,
                            [
                                Phoenix.HTML.Tag.img_tag("https://" <> video["account"]["host"] <> video["previewPath"]),
                                Phoenix.HTML.Tag.content_tag(
                                    :span,
                                    PeertubeIndex.FrontendHelpers.format_duration(video["duration"]),
                                    class: "video-duration"
                                )
                            ],
                            class: "video-thumbnail"
                        )
                    ],
                    href: "https://" <> video["account"]["host"] <> "/videos/watch/" <> video["uuid"]
                ) |> Phoenix.HTML.safe_to_string()
            %>
            <div class="video-details">
                <%=
                    Phoenix.HTML.Tag.content_tag(
                        :a,
                        Phoenix.HTML.Tag.content_tag(
                            :p,
                            video["name"]
                        ),
                        href: "https://" <> video["account"]["host"] <> "/videos/watch/" <> video["uuid"],
                        class: "video-title"
                    ) |> Phoenix.HTML.safe_to_string()
                %>
                <%=
                    Phoenix.HTML.Tag.content_tag(
                        :p,
                        "Published #{video["publishedAt"] |> NaiveDateTime.from_iso8601!() |> NaiveDateTime.truncate(:second)}",
                        class: "video-date"
                    ) |> Phoenix.HTML.safe_to_string()
                %>
                <%=
                    Phoenix.HTML.Tag.content_tag(
                        :p,
                        "#{video["views"]} views",
                        class: "video-views"
                    ) |> Phoenix.HTML.safe_to_string()
                %>
                <%=
                    Phoenix.HTML.Tag.content_tag(
                        :a,
                        "#{video["account"]["name"]}@#{video["account"]["host"]}",
                        class: "video-account",
                        href: video["account"]["url"]
                    ) |> Phoenix.HTML.safe_to_string()
                %>
            </div>
        </article>
    <%end%>
    </div>
    <div class="homeButton homeButton--bottom"><span><a href="/">home</a></span></div>
    <%= PeertubeIndex.Templates.warning_footer() %>
</body>

</html>
