<%
classes = if fixed do
    "searchBar searchBar--fixed"
else
    "searchBar"
end
%>
<div class="<%= classes %>">
<%=
Phoenix.HTML.Tag.tag(
    "input",
    type: "text",
    name: "text",
    value: query,
    placeholder: "Search videos by name",
    required: true
) |> Phoenix.HTML.safe_to_string()
%><button type="submit"><img src="/static/search_icon.svg"></button>
</div>
