<div class="retirementMessage">
    <p>PeerTube now has an <a href="https://search.joinpeertube.org/">official solution for search</a> that people should use, PeerTube Index will be retired soon.</p>
</div>
