<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {
    margin: 0;
    font-family: Verdana, sans-serif
}

.searchForm {
    display: flex;
    justify-content: center;
    width: 100%;
    min-width: 320px;
    margin-top: 20px;
    position: fixed;
}

.topSpacer {
    height: 100px;
}

.main {
    width: 267px;
    /* The bottom margin leaves room for the fixed warning footer */
    margin: 0 auto 20px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
@media (min-width: 900px) {
    .main {
        width: auto;
        max-width: 768px;
        align-items: stretch;
    }
}

.video {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}
@media (min-width: 900px) {
    .video {
        flex-direction: row;
    }
}

.video-thumbnail {
    object-fit: contain;
    width: 268px;
    border-radius: 10px;
    border: none;
}
@media (min-width: 900px) {
    .video-thumbnail {
        margin-right: 20px;
    }
}
.video-details {
    margin-left: 2px;
    margin-right: 2px;
}
@media (min-width: 900px) {
    .video {
        flex-direction: row;
    }
}
.video-title {
    color: black;
    text-decoration: none;
}
.video-title p {
    margin-top: 5px;
    margin-bottom: 5px;
}
.video-date,
.video-views,
.video-account {
    color: gray;
    font-size: smaller;
    margin: 0;
    text-decoration: none;
}
</style>
<link rel="stylesheet" href="/static/search_bar.css">
<link rel="stylesheet" href="/static/warning_footer.css">
</head>

<body>
    <form class="searchForm">
        <%= EEx.eval_file("frontend/search_bar.html.eex", fixed: true, query: query) %>
    </form>
    <div class="topSpacer"></div>
    <div class="main"><%= for video <- videos do %>
        <article class="video">
            <%=
                Phoenix.HTML.Tag.content_tag(
                    :a,
                    Phoenix.HTML.Tag.img_tag(
                        "https://" <> video["account"]["host"] <> video["previewPath"],
                        class: "video-thumbnail",
                    ),
                    href: "https://" <> video["account"]["host"] <> "/videos/watch/" <> video["uuid"]
                ) |> Phoenix.HTML.safe_to_string()
            %>
            <div class="video-details">
                <%=
                    Phoenix.HTML.Tag.content_tag(
                        :a,
                        Phoenix.HTML.Tag.content_tag(
                            :p,
                            video["name"]
                        ),
                        href: "https://" <> video["account"]["host"] <> "/videos/watch/" <> video["uuid"],
                        class: "video-title"
                    )|> Phoenix.HTML.safe_to_string()
                %>
                <%=
                    Phoenix.HTML.Tag.content_tag(
                        :p,
                        "Published #{video["publishedAt"] |> NaiveDateTime.from_iso8601!() |> NaiveDateTime.truncate(:second)}",
                        class: "video-date"
                    ) |> Phoenix.HTML.safe_to_string()
                %>
                <%=
                    Phoenix.HTML.Tag.content_tag(
                        :p,
                        "#{video["views"]} views",
                        class: "video-views"
                    ) |> Phoenix.HTML.safe_to_string()
                %>
                <%=
                    Phoenix.HTML.Tag.content_tag(
                        :a,
                        "#{video["account"]["name"]}@#{video["account"]["host"]}",
                        class: "video-account",
                        href: video["account"]["url"]
                    ) |> Phoenix.HTML.safe_to_string()
                %>
            </div>
        </article>
    <%end%></div>
    <%= EEx.eval_file("frontend/warning_footer.html.eex") %>
</body>

</html>
