.searchBar {
    display: flex;
    box-sizing: border-box;
    width: 288px;
    border: none;
    border-radius: 8px;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.3);
    z-index: 100;
}
@media (min-width: 900px) {
    .searchBar {
        width: 572px;
    }
}
.searchBar input {
    font-size: medium;
    font-family: Verdana, sans-serif;
    flex-grow: 1;
    box-sizing: border-box;
    margin: 0px;
    padding: 0.8rem;
    border: none;
    border-radius: 8px 0 0 8px;
}
.searchBar button {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: 60px;
    border: none;
    border-radius: 0 8px 8px 0;
    background-color: #333333;
    cursor: pointer;
    flex-shrink: 0;
}
.searchBar button img {
    /* https://stackoverflow.com/a/11126701 */
    display: block;
    margin: auto;
}
