.searchBar {
    box-sizing: border-box;
    font-size: medium;
    width: 288px;
    padding: 0.8rem;
    border: none;
    border-radius: 8px;
    background: url("/static/search_icon.svg") 98.1% 50% no-repeat white;
}
.searchBar--fixed {
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.7);
}
@media (min-width: 900px) {
    .searchBar {
        width: 572px;
        align-items: stretch;
    }
}
