<form action="search" class="search">
    <a href="/"><h1>
        PeerTube Index
    </h1></a>
    <input type="text" name="text" value="<%=query%>" placeholder="Search something" required>
    <button type="submit">Search</button>
</form>
