<html>
<style><%= EEx.eval_file("templates/search_component.css.eex") %></style>
<style>
article {
    display: flex;
    margin-bottom: 10px;
}
article img {
    height: 100px;
    border: 1px solid;
    margin-right: 10px;
    padding: 5px;
}
article h3 {
    margin-top: 0;
}
article a {
    text-decoration: none;
    color: inherit;
}
</style>
<body>
<header>
    <%= EEx.eval_file("templates/search_component.html.eex", [query: query]) %>
</header>

<%= for video <- videos do %>
    <article>
        <img src='https://raw.githubusercontent.com/Chocobozzz/PeerTube/develop/client/src/assets/images/icons/icon-512x512.png'>
        <div>
            <a href="https://<%= video["account"]["host"] %>/videos/watch/<%= video["uuid"] %>"><h3><%= video["name"] %></h3></a>
            <ul>
                <li><a href="<%= video["account"]["url"] %>">User: <%= video["account"]["displayName"] %></a></li>
                <li><a href="<%= video["channel"]["url"] %>">Channel: <%= video["channel"]["displayName"] %></a></li>
                <li><a href="https://<%= video["account"]["host"] %>">Instance: <%= video["account"]["host"] %></a></li>
            </ul>
        </div>
    </article>
<% end %>

</body>
</html>
