.search {
    display: flex;
    width: 50%;
}
.search a {
    text-decoration: none;
    color: inherit;
}
.search input, .search button {
    font-size: large;
    margin-top: 2%;
    margin-bottom: 2%;
}
.search input {
    flex-grow: 5;
    margin-left: 2%;
}
.search button {
    flex-grow: 1;
}
